<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos del Alumno</title>
    <link rel="stylesheet" href="../css/cursos.css">
</head>
<body>
    <div class="container-fluid h-100" style="height: 100%;overflow-y: auto;overflow-x: hidden;">
        <h1>Cursos Inscritos</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Día</th>
                <th scope="col">Hora Inicio</th>
                <th scope="col">Hora Fin</th>
                <th scope="col">Duración</th>
                <th scope="col">Sección</th>
            </tr>
        </thead>
        <tbody id="cursosAlumno">
            <!-- Filas de alumnos se insertarán aquí dinámicamente -->
        </tbody>
    </table>
</div>
</body>
<script src="../js/cursosAlumno.js"></script>
</html>
